# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Local SQLite database
app/service_requests.db
*.db
# Environment variables / secrets
.env
.env.*

# IDE settings
.vscode/

# Test / coverage files
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
